.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

    body {
        font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

    .x-axis , .y-axis {
      font-size: 12px;
    }

    .y-axis, .x-axis {
      color: #939393;
    }

    .line {
        fill: none;
        stroke: #033F73;
        stroke-width: 3px;
    }

    .line1 {
      fill: none;
      stroke: red;
      stroke-width: 3px;
      z-index: 5;
  }

    .area {                         
      fill: url(#area-gradient);                  
      stroke-width: 0px;          
    }

    path {
    fill: none;
    stroke: none;
  }

    .overlay {
        fill: none;
        pointer-events: all;
    }

    .focus circle {
        fill: steelblue;
    }

    .tooltip {
        width: 94px;
        padding: 4px 10px;
        border: 1px solid #aaa;
        border-radius: 4px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
        position: absolute;
        background-color: white;
        font-size: 14px;
        pointer-events: none;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
    }

    .tooltip div {
        margin: 3px 0;
    }

    .tooltip-date, .tooltip-price {
        font-weight: bold;
    }